$font: "Comfortaa", cursive;
$fonttitilos: "Comfortaa", cursive;
$violeta: #000;
$crema: #fff;
$rosa: #8f89fc;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  width: 400vw;
  height: fit-content;
  display: flex;
  flex-direction: row;
  background-color: $crema;
  color: $violeta;
  //   padding-left: 150px;
}
.main-container {
  width: 100vw;
  height: 100vh;
  overflow-x: scroll;
  overflow-y: scroll;
  &:after {
    // content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
html,
body,
.main-container,
.container {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  display: none;
}
main {
  display: inline-flex;
}
.main-nav {
  position: fixed;
  font-size: 1.5rem;
  padding-left: 10px;
  width: 150px;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  height: 100vh;
  background-color: $violeta;
  color: $crema;
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: $fonttitilos;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .tmdb {
    width: 90px;
    &:hover {
      color: $crema;
    }
  }
  li {
    border-bottom-left-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    padding: 5px;
    &:hover {
      background-color: $crema;
      color: $violeta;
      a {
        color: $violeta;
      }
    }
  }
  a {
    width: 200px;
    text-decoration: none;
    color: $crema;
  }
p{
font-size: 1rem;
}
}

.home {
  padding-left: 200px;
  padding-right: 200px;
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: flex-end;
  width: 100vw;
  flex-wrap: wrap;
  font-family: $font;
  h1 {
    font-family: $fonttitilos;
    font-size: 1.8rem;
  }
  p {
    min-width: 400px;
    font-size: 1.2rem;
  }
}
#moviesDrama,
#moviesComedia,
#moviesMusical {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.movie {
  width: 250px;
  padding: 10px;
  img {
    width: 200px;
  }
}
.content {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  a {
    color: $violeta;
    text-decoration: none;
    border: solid $violeta;
    border-radius: 0.5rem;
    padding: 10px;
    width: fit-content;
    margin-top: 10px;
    &:hover {
      color: $rosa;
      border: solid $rosa;
      transition-duration: 0.5s;
    }
  }
}

#comedia {
  background-color: $rosa;
  color: $crema;
  a {
    color: $crema;
    text-decoration: none;
    border: solid $crema;
    border-radius: 0.5rem;
    padding: 10px;
    width: fit-content;
    margin-top: 10px;
    &:hover {
      color: $violeta;
      border: solid $violeta;
      transition-duration: 0.5s;
    }
  }
}
li.comedia {
  &:hover {
    background-color: $rosa;
    color: $crema;
    a {
      color: $crema;
    }
  }
}

#drama {
  background-color: $rosa;
  color: $crema;
  a {
    color: $crema;
    text-decoration: none;
    border: solid $crema;
    border-radius: 0.5rem;
    padding: 10px;
    width: fit-content;
    margin-top: 10px;
    &:hover {
      color: $violeta;
      border: solid $violeta;
      transition-duration: 0.5s;
    }
  }
}
